{% extends "head.html" %}
{% block content %}
    {% if notes %}
    <div class="notes">
        {% for note in notes %}
        <div class="note">
            <div class="note-head">
                {% if note.note_title|length > 25 %}
                <h5 class="font-bold text-2xl">{{ note.note_title|slice:"23" }}...</h5>
                {% else %}
                <h5>{{ note.note_title }}</h5>
                {% endif %}

                <p class="date">{{ note.date_created|date:"m-d h:ma" }}</p>
            </div>
           
            {% if note.notesContent|length > 300 %}
            <p>{{ note.notesContent|slice:"300" }}...
                <span>See more</span></p>
            {% else %}
            <p>{{ note.notesContent }}</p>
                {% endif %}
                <div class="inte-sec">
                    <div>
                        <button class="bg-black font-bold p-2 text-white"><a href="{% url 'Edit' note.id %}">EDIT NOTE</a></button>
                        <button class="bg-black font-bold p-2 text-white"><a href="{% url 'ViewNote' note.id %}">VIEW NOTE</a></button> 
                    </div>

                    <div class="sec-fav">
                        {% if note.is_fav %}
                        <i class="fa-solid fa-heart fa-xl" onclick="set_fav(`{% url 'SetFav' note.id %}`,`{{ csrf_token }}`,this) "></i>
                        {% else %}
                        <i class="fa-regular fa-heart fa-xl" onclick="set_fav(`{% url 'SetFav' note.id %}`,`{{ csrf_token }}`, this)"></i>
                        {% endif %}
                    </div>   
                </div>
             </div>
          {% endfor %}
          {% else %}
          <h5 class="p-3 m-3 font-bold">No Notes Found<br>
              click below to start creating notes
          </h5>
          {% endif %}
          <button class="bg-black font-bold text-white p-3 m-4"><a href="{% url 'Create' %}">ADD NEW NOTE</a></button>
    </div>
   

   
   
{% endblock %}